# VS Code
.vscode/

# Dependências
vendor/
node_modules/

# Variáveis de ambiente
.env
.env.*

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Build
dist/
build/
